/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

body{
    
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f0ec;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-rows: 4rem 1fr 3rem;
  height: 100%;
}

.header{
  background-color: #020202;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #020202;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.brand a{
  color: aliceblue;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
}

.header-links a{
  color: aliceblue;
  text-decoration: none;
  padding: 9px;
  margin-left: 15px;
}
.header-links a:hover{
  border: 1px solid white;
}

/* home page styling */
.products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products li{
  flex: 0 1 22rem;
  height: 23rem;
  border-bottom: 1px solid black;
  list-style: none;
  
  
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-img{
  max-width: 15rem;
  max-height: 15rem;
  padding-top: 10px;
}

.product-name{
  font-size: 1.15rem;
}

.product-brand{
  font-size: 1.25rem;
  font-weight: bold;
}

.product-price{
  font-size: 1.35rem;
  font-weight: bold;
}

.product-rating{
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #FF9900;
}

/*sidebar*/
.brand button{
  border: none;
  background: none;
  color: aliceblue;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.brand button:hover{
  
  color: #FF9900;
}

.sidebar{
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: azure;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}

.side-close-button{
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

.sidebar li{
  list-style: none;
  
}
.sidebar li:hover{
  background-color: aquamarine;
}

/* product page styling */
.back-link{
  font-weight: 300;
  margin: 10px 15px;
  font-size: 0.85rem;
}

.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 15px;
  padding: 1rem;
}

.details-image{

  flex: 2 1 25rem;
  
}
.details-image img{
  max-width: 20rem;
  width: 100%;
}
.details-info{
  flex: 1 1 25rem;
  padding: 0 15px 0 10px;
}
.details-action{
  flex: 1 1 25rem;
  border: 1px solid rgb(190, 189, 189);
  border-radius: 7px;
  padding: 1rem;
  line-height: 1.65;
 
}

.details-info ul, .details-action ul{
  list-style: none;
  padding: 0;
}

.details-info ul li{
  line-height: 1.65;
}
.details-info ul li:first-child{
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.25rem;
  color: rgb(58, 56, 56);
  
}
.detail-brand-label{
  color: #146EB4;
  font-size: 0.85rem;
  border-bottom: 1px solid rgb(190, 189, 189);
  
}

.detail-grey-label{
  color: rgb(78, 77, 77);
  font-size: 0.85rem;
}

.detail-red-label{
  color: rgb(243, 51, 51);
  font-weight: 600;
  font-size: 1.25rem;
}

.detail-green-label{
  color: green;
  font-weight: 600;
} 

.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}

/* cart page styling */

.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-item{
  background-color: white;
  margin-top: 15px;
}
.cart-list{
  flex: 3 1 60rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: white;
  padding: 5px;
}

.cart-list-container{
  padding: 0;
  list-style: none;
  padding: 1rem;
}

.cart-list-container li{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-list-container li img{
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image{
  flex: 1 1;
}

.cart-name{
  flex: 8 1;
  padding-bottom: 80px;
  padding-left: 10px;
}

.cart-price{
  flex: 1 1;
}

.quantity{
  padding: 4px;
  border-radius: 5px;
  margin-right: 10px;
}

/* forms */

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 23rem;
  padding: 2rem;
  list-style: none;
  border: 1px solid rgb(190, 189, 189);
  line-height: 1.60;
}

.form-container a{
  color: #146EB4;
}


.form-container li{
  display: flex;
  flex-direction: column;
}

input{
  padding: 5px;
}

/* add product page*/
.product-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined{
  margin: 1rem;
}

.table{
  width: 100%;
}

.checkout-steps{
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps > div{
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
}

.checkout-steps > div.active{
  border-top: .3rem #f08000 solid;
  color: #f08000;
}

button{
  margin-top: 10px;
  padding: 9px;
  background-color: #FF9900;
  border: 1px solid rgb(107, 106, 106);
  border-radius: 5px;
}
