/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

body{
    
  margin: 0;
  height: 100vh;
  font-size: 16px;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-rows: 4rem 1fr 3rem;
  height: 100%;
}

.header{
  background-color: #003049;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #003049;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.brand a{
  color: aliceblue;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
}

.header-links a{
  color: aliceblue;
  text-decoration: none;
}
.header-links a:hover{
  border: 2px solid white;
}

/* home page styling */
.products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products li{
  flex: 0 1 22rem;
  height: 23rem;
  border-bottom: 1px solid black;
  list-style: none;
  
  
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-img{
  max-width: 15rem;
  max-height: 15rem;
  padding-top: 10px;
}

.product-name{
  font-size: 1.15rem;
}

.product-brand{
  font-size: 1.25rem;
  font-weight: bold;
}

.product-price{
  font-size: 1.35rem;
  font-weight: bold;
}

.product-rating{
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgb(190, 87, 87);
}

/*sidebar*/
.brand button{
  border: none;
  background: none;
  color: aliceblue;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.brand button:hover{
  
  color: rgb(190, 87, 87);
}

.sidebar{
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: azure;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}

.side-close-button{
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

.sidebar li{
  list-style: none;
  
}
.sidebar li:hover{
  background-color: aquamarine;
}
